{% extends "auctions/layout.html" %}


{% block body %}
{% if user.is_authenticated %}
    <h2>Active Listings</h2>
    <div>
        
    </div>

    <ul>
        {%for entry in products %}
        
        <li>
            <h3><a href="{% url 'product_name' entry.productName|urlize %}">{{entry.productName.capitalize}} </a></h3>
            <div>
                <img src="{{entry.productImage}}" alt="image of the product">
            </div>
            <div>
                
            </div>
            
                
                
                        
                price: {{entry.productprice.all.last.bidPrice}}
               
                 
             
            Owner : <strong>{{ entry.productOwner}}</strong>
        </div>
            </div>
            <div>
                Description : {{entry.comments.all.0.commentcontent}}
            </div>
            
        </li>
        {%endfor%}
        
                
        
    </ul>
    {% else %}
    Please sign in or login.
    {% endif %}        
{% endblock %}