{% extends "auctions/layout.html" %}


{% block body %}
{% if user.is_authenticated %}
    <h2>Active Listings</h2>
    <div>
        
    </div>

    <ul>
    {%for entry in products %}
        {% if entry.productListed == True %}
        
        <li>
            <h3><a href="{% url 'product_name' entry.productName|urlize %}">{{entry.productName.capitalize}} </a></h3>
            <div>
                <img src="{{entry.productImage}}" alt="image of the product">
            </div>
            <div>
                
            </div>
          
                <p><strong>Price : {{entry.productprice.all.last.bidPrice}}</strong></p>
                <p style="color: green;">{% if entry.productprice.all.last.bidder == username%} You are the bidder with the highest bid {% endif %}</p>
                <p> Owner : <strong>{{ entry.productOwner}}</strong></p>
                <p>Category : {{ entry.productCategory.capitalize }}</p>
                <form action="{% url 'watchlist' %}" method="POST">{% csrf_token %}
                <p> 
                {% for watchlist_entry in entry.watchlistProduct.all %}
                    {% if watchlist_entry.watchlistUser == request.user or watchlist_entry.watchlistUser == none %}
                        {% if watchlist_entry.watchlistShow == True or watchlist_entry.watchlistShow == none %}

                    

                    <input type="checkbox" name="tickbox" value="False"required> <input type="submit" value="Add to watchlist">
                    <input type="hidden" name="watchlistProduct" value="{{ entry.productName }}">
                        {% elif watchlist_entry.watchlistShow == False or  watchlist_entry.watchlistShow == none %}

                    <input type="checkbox" name="tickbox" value="True"required> <input type="submit" value="Remove from watchlist" >
                    <input type="hidden" name="watchlistProduct" value="{{ entry.productName }}">
                                           
                    
                        {% endif %}                  
                    {% endif %} 
                {% endfor %}
                {% if entry.watchlistProduct.all.0.watchlistShow == None %}
                    <input type="checkbox" name="tickbox" value="False"required> <input type="submit" value="Add to watchlist">
                    <input type="hidden" name="watchlistProduct" value="{{ entry.productName }}">
                {% else %}

                {% endif %}
                    
                    
                    
                    

                </p>
                </form>
                
 
        </div>
            </div>
            <div>
                Description : {{entry.comments.all.0.commentcontent}}
            </div>
            
        </li>
        {% endif %}
    {%endfor%}
        
                
        
    </ul>
{% else %}
    Please sign in or login.
{% endif %}        
{% endblock %}