{% extends "auctions/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
{% block title %}{{product_name.capitalize}}{% endblock %}



<div>
    <h2>
       <p> Product name : {{ productname.capitalize }}</p>
       {%for object in winner%}
       {% if user.username|stringformat:"s" == object.productWinner|stringformat:"s"  %}
        <p style="background-color: green; text-align: center;border-radius: 30px;">You have won this auction</p>
        {% endif %}
        {%endfor%}
            
            
            
        
            

    </h2>
    <p> Category : {{category}}</p>
</div>
<div>
    <img style="border-radius: 30px;max-width: 100%;height: auto;" src="{{ image }}" alt="Product Image">
</div>

<div>
    <p>Vendor : <strong>{{ username }}</strong></p>
</div>
    
<div>
    <p>Current bid : {{price}} CHF</p>
</div>
<div>
</div>
<div>

    <form method="POST" action="{%url 'product_name' product_name=productname %}">{% csrf_token %}
        <input type="hidden" name="placebid" value="placebid">
       <p><input type="number" name="newbid" placeholder="{{price}} CHF" required>
         <input type="submit"   value="Bid" ></p>
        <p style="background-color: red; text-align: center;">{{message}}</p>
    </form>
</div>
    {% if user.username == username%}
    <form method="POST" action="{%url 'product_name' product_name=productname %}">{% csrf_token %}
        <input type="hidden" name="close_auction" value="close_auction">
        <p>Highest bidder : <strong>{{bidder.last.bidder}}   </strong>
            <input type="submit" value="Close auction"></p>
            <input type="hidden" name="Winner" value="{{bidder.last.bidder}}">
    {% endif %}
    </form>
<div>
    <p>
        <form method="POST" action="{%url 'product_name' product_name=productname %}" >{% csrf_token %}
            <input type="hidden" name="comments" value="comments">
            <textarea name="commentcontent" placeholder="Enter a comment for the product" required></textarea>
            <input type="submit" value="Send comment">
        </form>
    </p>
        {% for comment in comments %}
    <p>------------------------------------------------------</p>
    <p>
        Comment from : <strong>{{comment.commentator}}</strong>
    </p>
    <p>
        {{comment.commentcontent}}
    </p>
    
        {% endfor %}
    
</div>
{% else %}
    Please sign in or login.
{% endif %}










{% endblock %}